body {
    background-color: white;
}

#image{
    width: 70px;
    margin: auto;

    /** Follow the box-model. Include item + padding + border + margin **/
}

#new-form{
    background: #f6f8fa;   
    padding: 16px; /*space on  the inside*/
    border: 1px solid #D8DEE4;
    /*border-radius: 5px;*/
    margin: 30px; /*space on the outside*/
    width: 300px;
    height: 150px;
}

#submit{
    background: green;
    /*border-radius: 5px;*/
    width: 200px;
}

#sub-footer{
    margin-top: 10px;
    padding-left: 20px;
    background: #ffff;
}

/**making a class to have all fill ins to automatically become rounded*/
.rounded{
    border-radius: 5px;
    border: 1px solid #d8dee4;
}